@keyframes quimerinha{
  0%{transform: translate(0px, 0px) rotate(60deg);  }
  10%{transform: translate(100px, 100px) rotate(60deg);  }
  20%{transform: translate(200px, 100px);  }
  30%{transform: translate(300px, 200px) rotate(60deg);  }
  40%{transform: translate(450px, 200px) ;  }
  50%{transform: translate(500px, 300px) rotate(-1440deg);  }
  55%{transform: translate(900px, 300px) rotate(-1440deg);  }
  60%{transform: translate(350px, 200px) rotate(45deg);  }
  70%{transform: translate(180px, 200px) rotate(60deg);  }
  80%{transform: translate(180px, 100px) rotate(-60deg);  }
  90%{transform: translate(100px, 100px) rotate(360deg);  }
  100%{transform: translate(0px, 0px);  }
  
} 
#anda:hover{ 
    animation-name: quimerinha ;
    animation-duration: 10s; 
    animation-iteration-count: 1 ;
}
